.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 2em;
}

.reload__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reload__button svg{
  font-size: 2.5em;
  color: var(--dark-cyan)
}

.reload__button svg:hover{
  cursor: pointer;
}
