.imprint-container__TeamHeader{
    text-align: center;
}
.imprint-container__Team{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}
.imprint-container__Team__member{
    width: 15rem;
}

.imprint-container__Team__member__links{
    display: flex;
    gap: 0.5rem;
}
.imprint-container__Team__member__img{
    height: 280px;
    width: auto;
}
.imprint-container__copyrights{
    text-align: center;
    width: 100%;
    display: inherit;
}