.imprint-container h1{
    color: var(--dark-cyan);
}
.imprint-container{
    display: flex;
    min-height: 75rem;
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}
.imprint-container__TeamHeader{
    text-align: center;
}
.imprint-container__Team{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}
.imprint-container__Team__member__links{
    display: flex;
    gap: 0.5rem;
}
.imprint-container__Team__member__img{
    height: 280px;
    width: auto;
}
.imprint-container__copyrights{
    text-align: center;
    width: 100%;
    display: inherit;
}