.button{
    border: none;
    padding: 1em;
    border-radius: 50px;
    font-weight: 600;
}

.primary{
    color: var(--dark-cyan);
    background-color: var(--yellow);
}

.secondary{
    background-color: var(--white);
    color: var(--orange);
}