.brief-container {
  margin-top: 5rem;
  min-height: auto;
}
.generated-brief{
  margin-top: 0px;
}
.hero {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.hero__buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.brief__colors-and-fonts {
  width: 100%;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 920px) {
  .brief__colors-and-fonts {
    flex-direction: column;
    gap: 0;
  }
}

