.main-container {
  display: flex;
  min-height: 48rem;
  width: 80%;
  max-width: 100rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.hero__header-text {
  position: relative;
  width: fit-content;
  margin: 0px auto;
  text-align: center;
}
.hero__header-text span {
  display: inline;
  background-image: repeating-linear-gradient(
    to top,
    transparent 0,
    transparent 0.19em,
    var(--cyan) 0.19em,
    var(--cyan) 0.6em,
    transparent 0.6em,
    transparent 2em
  );
  padding: 0 0.5rem;
}
.hero__buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.brief__colors-and-fonts {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.sidenav {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  flex-direction: column;
  gap: 1em;
}
@media screen and (max-width: 920px) {
  .brief__colors-and-fonts {
    flex-direction: column;
    gap: 0;
  }
}
