.card {
    width: 100%;
    padding: 1.5em;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.card p{
    color: var(--black)
}

h2 {
    margin-bottom: 0.5em
}

h3:not(:first-of-type) {
    margin-top: 1.5em;
}
h4 {
    margin-top: 1em;
}