.card {
  width: 100%;
  padding: 1.5em;
  margin: 1rem 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.card h1 {
  color: var(--dark-cyan);
}
.card p {
  color: var(--black);
  margin-bottom: 1rem;
}

.card h2 {
  margin-bottom: 0.5em;
}

.card h3 {
  margin-top: 1.5em;
}
.card .persona_description h3 {
  margin-top: 0px;
}
.card h4 {
  margin-top: 1em;
}
.card a {
  color: var(--dark-cyan);
}
