.element-box {
  width: 100%;
  text-align: center;
  font-size: 1em;
  width: 30%;
}

.flexbox-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle {
  width: 4.5em;
  height: 4.5em;
  border-radius: 10em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}
