.header {
  display: flex;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem;
}
.header ul{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.header ul li:nth-child(2){
  margin-left: auto;
}
.header li{
  list-style-type: none;
}
.header img {
  height: 50px;
}
