.footer {
  display: flex;
  padding: 1rem 0;
  background-color: var(--white);
  width: 100%;
}
.footer__items-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer a{
  color: var(--black);
}
.footer ul{
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0 3rem;
}
.footer li{
  list-style-type: none;
}
.footer li:last-child{
  margin-left: auto;
}
.footer .Fhs__logo{
  height: 3rem;
}