:root {
  --yellow: #fabe00;
  --orange: #ea5504;
  --cyan: #74c6be;
  --dark-cyan: #1f7a83;
  --black: #1a1a1a;
  --white: #ffffff;
  --light-grey: #ededed;
  --background-gradient: linear-gradient(
    90deg,
    var(--dark-cyan) 0%,
    var(--cyan) 100%
  );
}
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  color: var(--white);
  letter-spacing: 0.5px;
  font-weight: 800;
}

h2 {
  font-size: 2em;
  color: var(--dark-cyan);
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1em;
  color: var(--black);
  text-transform: uppercase;
}
h4 {
  color: var(--black);
}

a {
  color: var(--white);
  text-decoration: none;
}
p {
  font-size: 1.2em;
  line-height: 1.8rem;
  color: var(--white);
}
img {
  width: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-cyan);
  background: var(--background-gradient);
}

.main-container{
  display: flex;
  width: 80%;
  max-width: 100rem;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 3em;
    letter-spacing: 0.5px;
  }
}
@media print { 
  /* All your print styles go here */
  *{
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .header, .footer, .hero__buttons-container, .sidenav {
    display: none !important;
  } 
  h1{
    font-size: 32px;
    page-break-before: always;
    color: var(--dark-cyan)
  }
  h2, .card h2{
    font-size: 24px;
  }
  /*.card h2:nth-child(1) {
    float: left !important;
    margin-right: 10px;
  }*/
  h3, .card h3{
    font-size: 18px;
    margin-top: 5px !important;
  }
  h4, .card h4{
    font-size: 16px;
  }
  p{
    font-size:12px;
    line-height:14px;
    margin-bottom: 5px !important;
  }
  .card{
    border: 2px solid rgb(69, 69, 69);
    padding: 10px !important;
    margin-top: 25px !important;
  }
  .brief__colors-and-fonts{
    flex-direction: column;
    width: 40% !important;
    float: right;
    gap: 0px !important;
  }
  .brief__colors-and-fonts::after { 
    content: 'https://BetterBriefs.dev | Copyright © 2022 & Beyond. All rights reserved.'; 
  }
  .brief__colors-and-fonts .card{
    page-break-after: always !important;
    
  }
  .card:nth-child(3){
    page-break-after: always !important;
  }

  .card:nth-child(5){
    width: 50% !important;
  }
  .wireframe-image {
    max-height: 920px !important;
  }
  .card .persona_description h3{
    font-size: 18px;
  }
  .card .persona_description h4{
    font-size: 16px;
  }
  .persona img{
    width: 58px;
  }
  .persona_tags, .persona_tags .persona_description h4{
    font-size: 9px;
  }
  .main-container{
    width: 100%;
    flex-direction: unset;
    display:block;
  }
  .hero::after { 
    content: 'BetterBriefs a website for programmers who want to improve their programming skills without thinking about an project idea and concept'; 
  }
  .circle{
    width: 50px !important;
    height: 50px !important;
  }
  @page {
    size: A4;
  }
}
/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/open-sans-v28-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/open-sans-v28-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-500.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/open-sans-v28-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/open-sans-v28-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v28-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v28-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v28-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v28-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v28-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}

