:root {
  --yellow: #FABE00;
  --orange: #EA5504;
  --cyan: #74C6BE;
  --dark-cyan: #1F7A83;
  --black: #1A1A1A;
  --white: #ffffff; 
}

h1 {
  font-size: 4em;
  color: var(--white);
  letter-spacing: 0.5px;
  font-weight: 800;
}

h2 {
  font-size: 2em;
  color: var(--dark-cyan);
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1em;
  color: var(--black);
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1F7A83;
}

code {
  font-family: 'Open Sans', sans-serif;
}


